* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%); /* Dark Cyan */
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-position: -50% 50%, 150% -50%;
  background-repeat: no-repeat;
  font-family: "Kumbh Sans";
  /* font-size: 18px; */
  text-align: center;
}

h2 {
  color: hsl(229, 23%, 23%); /* Very Dark Desaturated Blue */
  font-weight: 700;
}

h3, 
.age {
  color: hsl(227, 10%, 46%); /* Dark Grayish Blue */
  font-weight: 400;
}

.profile_card {
  /* background: white; */
  /* margin: 5fr; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 35% 30%;
  justify-content: center;
  align-content: center;
}

.top_image {
  background-image: url("images/bg-pattern-card.svg");
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.victor {
  
}

.name_age_location {
  background: white;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.stats {
  grid-column: 1 / 1;
  grid-row: 3 / 3;
  /* grid-column: 1 / 1;
  grid-row: 1 / 2; */
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-direction: row;

}

.followers,
.likes,
.photos {
  align-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
