* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-position: -50% 50%, 150% -50%;
  background-repeat: no-repeat;
  font-family: "Kumbh Sans";
  font-size: 18px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
