* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%); /*Dark Cyan*/
  font-family: "Kumbh Sans";
  font-size: 18px;
  text-align: center;
}


.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
color: hsl(228, 45%, 44%); 
}